/.idea/inspectionProfiles/Project_Default.xml
/.idea/.name
/.idea/0_Dev.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7b22b7fa40eeee82ed9a.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3b02345738bf20ba9d9d.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-1b49a34ea2239334cd53.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-src-Debug-c94b7c2814d5a21df52c.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-08-08T12-17-15-0344.json
/cmake-build-debug/.cmake/api/v1/reply/target-OpenSTC-Debug-9dc3bdbf3ead74e2f736.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-5eed787a6d8aeb746a23.json
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a.exe.res
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.fatbin
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.fatbin.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.obj
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.obj.res
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.reg.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.sm_52.cubin
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/a_dlink.sm_52.cubin.optf
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii.res
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii.res
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.obj.res
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.sm_52.cubin
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/a.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/a.exp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/a.lib
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCUDA/CMakeCUDACompilerId.cu
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCUDACompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CUDA.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.26.4/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/FindMPI/test_mpi_CXX.bin
/cmake-build-debug/CMakeFiles/OpenSTC.dir/cmake_device_link.obj
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/gxl_lib/MyString.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/gxl_lib/Time.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/BoundCond.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/BoundCond.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/ChemData.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/DataCommunication.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/DParameter.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Driver.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Element.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/embed.manifest
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Field.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/FieldOperation.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Initialize.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/intermediate.manifest
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/InviscidScheme.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/main.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/manifest.rc
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/manifest.res
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Mesh.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Parallel.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Parameter.cpp.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Reconstruction.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/TemporalScheme.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Thermo.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/TimeAdvanceFunc.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/Transport.cu.obj
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/vc140.pdb
/cmake-build-debug/src/CMakeFiles/OpenSTC.dir/ViscousScheme.cu.obj
/cmake-build-debug/src/cmake_install.cmake
/cmake-build-debug/src/OpenSTC.exp
/cmake-build-debug/src/OpenSTC.lib
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/OpenSTC.exe
/OpenSTC.ilk
/OpenSTC.pdb
/depends/include/fmt/args.h
/depends/include/fmt/chrono.h
/depends/include/fmt/color.h
/depends/include/fmt/compile.h
/depends/include/fmt/core.h
/depends/include/fmt/format.h
/depends/include/fmt/format-inl.h
/depends/include/fmt/os.h
/depends/include/fmt/ostream.h
/depends/include/fmt/printf.h
/depends/include/fmt/ranges.h
/depends/include/fmt/std.h
/depends/include/fmt/xchar.h
/depends/lib/debug/fmtd.lib
/depends/lib/debug/fmtd.pdb
/depends/lib/debug/libfmtd.a
/depends/lib/release/fmt.lib
/depends/lib/release/libfmt.a
